body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 237, 237);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.firstSlider {
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
}
.indicator-active {
  color: #007bff;
}
.arsh {
  background-size: cover;
}
.sliderpro {
  width: 100%;
  height: 50vh;
}
@media screen and (max-width: 680px) {
  .firstSlider {
    width: 100%;
  }
}
